<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <div style = "text-align:center">
      <h1>API Example: OpenWeatherMap</h1>
    </div>
    <div id="la">
      <h1>Los Angeles</h1>
      <ul>
        <li>Temp: {{la_data?.main.temp}}° Fahrenheit</li>
        <li>Humidity: {{la_data?.main.humidity}}</li>
        <li>Wind Speed: {{la_data?.wind.speed}} miles per hour</li>
      </ul>
    </div>
    <div id="htx">
      <h1>Houston</h1>
      <ul>
        <li>Temp: {{houston_data?.main.temp}}° Fahrenheit</li>
        <li>Humidity: {{houston_data?.main.humidity}}</li>
        <li>Wind Speed: {{houston_data?.wind.speed}} miles per hour</li>
      </ul>
    </div>

  </body>
</html>